@import "tailwindcss" source(none);
@plugin "daisyui";
@source "../../../www/application/app/views";
@source "../../../www/application/auth/views";
@source "js";
@source "../../../www/front_src";
@source "../../../www/front_auth";

summary.menu-active {
    color: var(--menu-active-fg);
    background-color: var(--menu-active-bg);
}

div.markdown h3 {
    @apply text-xl;
}

div.markdown p {
    @apply my-2;
}

div.markdown em {
    @apply text-current/75;
}

div.markdown ul {
    @apply list-disc ms-5;
}

div.markdown a {
    @apply link text-primary dark:text-info;
}

div.markdown ol {
    @apply list-decimal ms-4;
}

div.inline-size {
    container-type: inline-size;
}
